<footer>
	<div class="col">
		<h3>Get App</h3>
		<ul>
		<li><a href="http://click.linksynergy.com/fs-bin/stat?id=DLLdAJR91KE&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=https%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Ffoldingtext%252Fid540003654%253Fmt%253D12%2526uo%253D4%2526partnerId%253D30" onClick="_gaq.push(['_trackEvent', 'links', 'appstore', 'App Store']);"><img src="/static/appstore.svg" /></a></li>
		</ul>
	</div>

	<div class="col">
		<h3>Use For</h3>

		<ul>
		<li>Writing</li>
		<li>Planning</li>
		<li>Scheduling</li>
		<li>To-do Lists</li>
		<li>Note-taking</li>
		<li>And more…</li>
		</ul>
	</div>

	<div class="col">
		<h3 id="learn_more">Learn More</h3>

		<ul>
		<li><a href="/about">About</a></li>
		<li><a href="http://support.foldingtext.com">Support</a></li>
		<li><a href="/posts/releases">Releases</a></li>
		<li><a href="/posts/extensions">Extensions</a></li>
		<li><a class="fancybox screenshotsfirst" onClick="_gaq.push(['_trackEvent', 'links', 'gallery', 'Gallery']);" rel="group" href="/static/gallery/1-simple.png">Screenshots</a></li>
		<li><a class="fancyvideo5" onClick="_gaq.push(['_trackEvent', 'links', 'screencast2', 'Screencast 2']);" href="/static/gallery/screencastposter.png">Watch Movie</a></li>
		<!-- <li><a href="http://foldingtext.s3.amazonaws.com/FoldingText.dmg">Download Demo</a></li> -->
		</ul>
	</div>

	<div class="col">
		<h3>Follow Us</h3>

		<ul>
		<li><a href="/posts/atom.xml">Posts</a></li>
		<li><a href="https://twitter.com/intent/user?screen_name=foldingtext">Twitter</a></li>
		<li><a href="https://plus.google.com/103835916412808164341">Google+</a></li>
		<li><a href="http://www.facebook.com/FoldingText">Facebook</a></li>
		</ul>
	</div>

	<div style="display:none;">
		<a class="fancybox" rel="group" href="/static/gallery/2-surprisingly_adept.png">b</a>
		<a class="fancybox" rel="group" href="/static/gallery/3-productivity_platform.png">b</a>		
	</div>
</footer>