<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<title>FoldingText — {{ page.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}

<!-- <link rel="alternate" type="application/atom+xml" title="FoldingText Posts" href="/posts/atom.xml"> -->

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/static/style.css" rel="stylesheet" type="text/css" />

<!-- Add jQuery library -->
<script type="text/javascript" src="/static/jquery-1.7.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/static/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.0"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/static/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.3" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.3"></script>
<script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.3"></script>
<link rel="stylesheet" href="/static/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.6" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.6"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33534593-1']);
  _gaq.push(['_setDomainName', 'foldingtext.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
	$(document).ready(function() {
		var fancybox = $(".fancybox").fancybox({
			padding : 5,
			margin: 50,
			maxHeight: 550,
			loop : false,
		});
		var hash = window.location.hash;
		if (hash === '#screenshots') {
			$(".screenshotsfirst").trigger("click");
		}
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		var fancybox = $(".fancyvideo5").fancybox({
			padding : 5,
			'width': 960,
			'height': 600,
			'autoScale': false,
			'autoDimensions': false,
			'content': '&nbsp;',
			'afterLoad': function() {
				if ($.browser.mozilla) {
					$('.fancybox-inner')
					.html('<video poster="/static/gallery/screencastposter.png" id="screencast" width="960" height="600" controls><source src="/static/gallery/screencast.webm" type="video/webm">your browser does not support the HTML 5 video tag</video>')
					.css({'overflow':'hidden'});
				} else if ($.browser.webkit) {
					$('.fancybox-inner')
					.html('<video poster="/static/gallery/screencastposter.png" id="screencast" width="960" height="600" controls><source src="/static/gallery/screencast.mp4" type="video/mp4">your browser does not support the HTML 5 video tag</video>')
					.css({'overflow':'hidden'});
				} else {
					$('.fancybox-inner')
					.html('<video poster="/static/gallery/screencastposter.png" id="screencast" width="960" height="600" controls><source src="/static/gallery/screencast.mp4" type="video/mp4"><source src="/static/gallery/screencast.ogv" type="video/ogg"><source src="/static/gallery/screencast.webm" type="video/webm">your browser does not support the HTML 5 video tag</video>')
					.css({'overflow':'hidden'});
				}
				
				var screencast = document.getElementById('screencast');
				if (screencast) {
					screencast.play();
				}
			},
			'beforeClose': function() {
				var screencast = document.getElementById('screencast');
				if (screencast) {
					screencast.pause();
				}
			},
			'afterClose': function() {
				$(".fancybox-inner").empty();
			}
		});
		
		var hash = window.location.hash;
		if (hash === '#watchmovie') {
			fancybox.trigger("click");	
		}
	});	
</script>