<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>4.5.7</string>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>1.0b1</string>
	<key>SDWindowState</key>
	<dict>
		<key>chevronSyntax</key>
		<false/>
		<key>editorState</key>
		<dict>
			<key>LNSSelection</key>
			<array>
				<dict>
					<key>length</key>
					<integer>0</integer>
					<key>location</key>
					<integer>68</integer>
				</dict>
			</array>
			<key>LNSTextViewShowInvisibles</key>
			<false/>
			<key>LNSTextViewShowSpaces</key>
			<false/>
			<key>LNSTextViewShowTabStops</key>
			<false/>
			<key>LNSTextViewWrapLines</key>
			<false/>
			<key>LNSVisibleRect</key>
			<string>{{0, 0}, {1413, 765}}</string>
			<key>ShowLineNumbers</key>
			<false/>
		</dict>
		<key>errorsDividerPos</key>
		<real>0.0</real>
		<key>expressionsDividerPos</key>
		<real>117</real>
		<key>resultHeight</key>
		<real>195</real>
		<key>resultState</key>
		<dict>
			<key>browserDividerPos</key>
			<real>132</real>
			<key>desiredView</key>
			<integer>0</integer>
			<key>fsPathView</key>
			<integer>0</integer>
			<key>prettyPrint</key>
			<true/>
			<key>showInvisibles</key>
			<false/>
			<key>showSpaces</key>
			<false/>
			<key>showTabStops</key>
			<false/>
			<key>wrapLines</key>
			<true/>
		</dict>
		<key>resultsEdge</key>
		<integer>2</integer>
		<key>resultsOpen</key>
		<true/>
		<key>resultsWidth</key>
		<real>320</real>
		<key>selectionLength</key>
		<integer>0</integer>
		<key>selectionLocation</key>
		<integer>68</integer>
		<key>showDescriptionRulers</key>
		<true/>
		<key>showStartup</key>
		<false/>
		<key>stackHeight</key>
		<real>199</real>
		<key>stayOpen</key>
		<false/>
		<key>toolbarVisible</key>
		<true/>
		<key>traceSpeed</key>
		<real>0.64999997615814209</real>
		<key>variablesDividerPos</key>
		<real>117</real>
		<key>variablesHeight</key>
		<real>318</real>
		<key>windowFrame</key>
		<string>0 60 1440 818 0 0 1440 878 </string>
		<key>windowSize</key>
		<string>{1440, 874}</string>
	</dict>
</dict>
</plist>
