html {
	/* Setting the baseline font */
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html, body {
  min-height: 100%;
}

body {
	font-family: Courier, monospace;
	font-size: 1.6rem;
	padding: 0 2rem;
	color: rgb(20%,20%,20%);
	background: rgb(97%,97%,97%);
	/*
	padding-bottom:7.5rem;
	background-image:url('/static/keyboardfade.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:100%;*/
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.6rem;
	margin:1rem 0;
}

small {
	font-size: 1.6rem;	
}

h1 {
	margin:2rem 0;
}

h1 img {
	border:none;
}

h1 span {
	margin:auto;
	display:none;
}

.screencast img {
	padding-right:1rem;
	height:1.6rem;
	vertical-align:-20%;
}

hr {
	border:none;
	display:hidden;
	margin: 2rem 0;
	clear:both;
}

hr:after {
	display:block;
	text-align:center;
	content: "✦ ✦ ✦";
	color: rgb(20%,20%,20%);
}

ul, ol {
	padding: 0;
}
		
a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

pre {
	font-family: Courier, monospace;
	font-size: 1.6rem;
	padding:1rem;
	background: rgb(90%,90%,90%);
}

code {
	font-family: Courier, monospace;
	font-size: 1.6rem;
	background: rgb(90%,90%,90%);
}

#breadcrumb {
	list-style-type: none;
	text-transform:capitalize;
}

#breadcrumb li:after{
	content:" »";
}

blockquote a {
	text-decoration:none;
	color: rgb(20%,20%,20%);;
}

blockquote .author:before {
	content: " – "; 	
}

blockquote:before { 
content: "\201C"; 
float: left;
margin-left:-1rem;
}

blockquote .quote:after { 
content: "\201D";
}

footer ul {
	padding:0;
	list-style-type: none;
}

footer li:before {
	content:none;
}

.container {
	max-width: 66rem;
	min-width: 66rem;
	margin:auto;
}

.col {
	width:16.5rem;
	float:left;
}

.col h3 {
	font-weight:normal;
	font-style:italic;
}

blockquote {
	width:52rem;
	margin:2rem auto;
	//margin-right:10rem;
	font-style:italic;
	clear:both;
}

footer h4 {
	font-weight:normal;
	clear:both;
	text-align:center;
	font-size:1.25rem;
}

.at300bs {
	height:0;
	background:none;
}

@media all and (min-width: 50em) {
	body {
		padding-top:2rem;
	}
}

@media all and (min-width: 70em) {
	body {
		padding-top:8rem;
	}
}

.fancybox-nav span {
	width: 36px !important;
	height: 36px !important;
}

.fancybox-close {
	background-image: url('/static/close.svg') !important;
	background-size:36px 36px !important;
}

.fancybox-next span {
	background-image: url('/static/next.svg') !important;
	background-size:36px 36px !important;
	right: 0px !important;
	background-position: 0 0 !important;
}

.fancybox-prev span {
	background-image: url('/static/prev.svg') !important;	
	background-size:36px 36px !important;
	left: 0px !important;
	background-position: 0 0 !important;
}

#fancybox-loading div {
	background: url('/static/loadingBackground.svg') center center no-repeat;
}

.gist .gist-file .gist-data {
	max-height:20rem;
	background:white !important;
}