<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>5.0.4</string>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>EF670E0A-F49C-4B0F-B2D9-3CE6BE5B05CD-209-00000ADFADE89CEE</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>257</integer>
								<integer>328</integer>
								<integer>133</integer>
							</array>
							<key>5</key>
							<array>
								<integer>205</integer>
								<integer>85</integer>
								<integer>261</integer>
								<integer>68</integer>
								<integer>104</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>318.33334350585938</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>145</real>
						<key>searchFlags</key>
						<integer>167784318</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>312</integer>
								<integer>285</integer>
								<integer>282</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>440</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>299</integer>
								<integer>311</integer>
								<integer>248</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>12530</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 5680}, {721, 686}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>0F7985FC-0FE4-43CE-96A9-39CA71776892-38350-00019AD38D2E3F09</string>
					<key>resultBarVisible</key>
					<false/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>433</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>EF670E0A-F49C-4B0F-B2D9-3CE6BE5B05CD-209-00000ADFADE89CEE</string>
				<key>windowFrame</key>
				<string>8 59 1189 819 0 0 1440 878 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>EF670E0A-F49C-4B0F-B2D9-3CE6BE5B05CD-209-00000ADFADE89CEE</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>8 59 1189 819 0 0 1440 878 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
